<div class="container">
    <div class="row mt-5 mb-5 about">
        <div class="col-md-6 aboutimg">
            <img src="/images/about1.jpg" />
        </div>
        <div class="col-md-6 alert-warning aboutinfo">
            <div class="card-header">
                <h3 class="card-title text-center">About PGA</h3>
            </div>

            <!-- Modal body -->
            <div class="card-body">
                Precious Gift Academy was established in September 2010 on a 25-acre
                campus within the Abeokuta Peninsula part of ogun state in
                South Western, Nigeria. It consists of
                the following schools:

                <ul>
                    <li>Nursery School</li>
                    <li>Primary School</li>
                    <li>Secondary School</li>
                </ul>
                <h5>OUR AIM</h5>
                To allow every child discover and develop their unique talents
                within a disciplined,caring and conducive
                environment.
                <h5>OUR MISSION</h5>
                “To provide an environment in which each individual is assisted to
                discover his or her academic potential in study,
                sports and personal development”.Precious Gift Academy has a
                unique ethos of excellence that permeates all aspects
                of school life, making the experience of learning holistic as
                students have access to support, advice and guidance.
            </div>

        </div>
    </div>
</div>