<section class="Admin">
    <div class="admindashboard">
        <p class="welcome text-center text-white">Welcome</p>
        <p class="To text-center text-white">To</p>
        <p class="dash text-center text-white">Admin Dashboard</p>
    </div>
</section>