<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h3 class="text-center">Assign a Role</h3>
                </div>
                <form class=" form-horizontal" action=" " method="post" id="" action="/users/assignrole/:ID">
                    <div class="card-body">

                        <!-- Form Name -->


                        <!-- Text input-->

                        <div class="form-group col-7">

                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="" placeholder="class Name" value="{{ID}}" class="form-control"
                                    type="hidden">
                            </div>
                        </div>



                        <!-- Text input-->

                        <div class="form-group col-9 offset-2">
                            <label class="col-md-4 form-check-label">ROLE</label>
                            <div class="input-group">
                                <select name="title" placeholder="" value="" class="form-control" type="text">
                                    {{#each data}}
                                    <option value='{{title}}'>{{title}}</option>
                                    {{/each}}

                                </select>
                            </div>
                        </div>


                        <div class="alert alert-success" role="alert" id="success_message">Success <i
                                class="glyphicon glyphicon-thumbs-up"></i>
                            Success!.</div>

                        <!-- Button -->



                    </div>
                    <div class="card-footer">
                        <div class="form-group">

                            <div class="col-md-4 offset-4">
                                <button type="submit" class="btn btn-success">ASSIGN
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>