<h3 class="text-center mt-5 mb-5">List OF Roles</h3>
<div class="row">
    <div class="col-4 mb-3">
        <input class="form-control fa fa-search" id="myInput" type="text" placeholder="Search..">
    </div>
</div>
<table class="table table-responsive table-striped table-bordered table-dark">
    <thead>
        <th>ID</th>
        <th>ROLE NAME</th>
        <th colspan='2'>ACTION</th>


    </thead>
    <tbody id= "tablerow">
        {{#each data}}
        <tr>
            <td>{{ID}}</td>
            <td>{{title}}</td>

            <td> <a class="btn btn-sm btn-warning" href="/roles/edit/{{ID}}">EDIT</a></td>
            <td><a class="btn btn-sm btn-danger" href="/roles/delete/{{ID}}">DELETE</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>