body {
  padding-top: 56px;
}
#applybutton{
 border-radius:50%;
 background-color: #00B16A;
}
.aboutinfo{
 border-radius:2px;
}
.aboutimg{
 border-radius:2px;
 
}
.forbidden{
   font-size:40px;
    margin-bottom: 200px;
    margin-top:100px;
    margin-left:150px
}
.forbiddencode {
  font-size:70px;
   margin-left:500px;
  margin-top:50px;
  margin-bottom: 80px;
}
.Admin{
  background-image: url('../images/books.jpg');
  background-size:100vh;
  padding-bottom: 400px;


}.welcome {
font-size:100px;
padding-top: 200px;
padding-bottom: 70px;
}
.To{
font-size:70px;
   margin-top:30px;
  margin-bottom: 80px;
}
.dash{
font-size:100px;
   margin-top:30px;
  margin-bottom: 80px;
}
#success_message{ display: none;}
.sidebar{
     height:100vh;
     position: fixed;
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.title{
  font-size:30px;
  color: green;
}
.bg-img{
  background-image:url('/images/bg_img_4.png');
  background-size :cover;
  background-attachment: fixed;
}
 .bkflight{
   margin:auto;
   align-self: center;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}


.destination-img img {
  width: 420px;
  height: 263px;
}
@media only screen and (max-width: 767px){
.Admin{
  background-image: url('../images/books.jpg');
  background-size:500px;
  padding-bottom: 400px;
}.welcome {
font-size:50px;
padding-top:auto;
padding-bottom: 50px;
}
.To{
font-size:40px;
   margin-top:10px;
  margin-bottom: 50px;
}
.dash{
font-size:40px;
   margin-top:30px;
  margin-bottom: 80px;
}
.forbidden{
   font-size:20px;
    margin-bottom: 200px;
    margin-top:auto;
    margin-left:auto;
}
.forbiddencode {
  font-size:30px;
   margin-left:auto;
  margin-top:50px;
  margin-bottom: 80px;
}
.aboutinfo{
 border-radius:2px;
 
}
.aboutimg{
 border-radius:2px;
 height:70vh;
 width:200px;
margin-left:auto;
 }
 .about{
  margin:auto;
  width:auto;
 }
}